p.abo1{
    font-size: 50px;
    color: #5A47AB;
    font-family: Montserrat;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;
}
.abo2{
    height:400px;
}
.abo3{
    font-size: 25px;
    margin-left: 10px;
    font-family: Montserrat;
}